################################################################
# AliRoot dummy job configuration file for an HTCondor cluster #
################################################################

executable           = ../lhc.sh
arguments            = alice
universe             = vanilla
initialdir           = ..
transfer_input_files = cern-it1.cern.ch.pub,alice
output               = out/alice/alice-$(Process).out
error                = out/alice/alice-$(Process).error
log                  = out/alice/alice-$(Process).log
queue
