################################################################
# AliRoot dummy job configuration file for an HTCondor cluster #
################################################################

executable           = ../lhc.sh
arguments            = alice
universe             = vanilla
initialdir           = ..
transfer_input_files = cern-it1.cern.ch.pub,alice
output               = alice/out/alice$(Process).out
error                = alice/out/alice$(Process).error
log                  = alice/out/alice$(Process).log
queue
