################################################################
# AliRoot dummy job configuration file for an HTCondor cluster #
################################################################

executable           = ../lhc.sh
arguments            = atlas
universe             = vanilla
initialdir           = ..
transfer_input_files = cern-it1.cern.ch.pub,atlas
output               = atlas/out/atlas-$(Process).out
error                = atlas/out/atlas-$(Process).error
log                  = atlas/out/atlas-$(Process).log
queue
