################################################################
# AliRoot dummy job configuration file for an HTCondor cluster #
################################################################

executable           = ../lhc.sh
arguments            = lhcb
universe             = vanilla
initialdir           = ..
transfer_input_files = cern-it1.cern.ch.pub,lhcb
output               = out/lhcb/lhcb-$(Process).out
error                = out/lhcb/lhcb-$(Process).error
log                  = out/lhcb/lhcb-$(Process).log
queue
