################################################################
# AliRoot dummy job configuration file for an HTCondor cluster #
################################################################

executable           = ../lhc.sh
arguments            = lhcb
universe             = vanilla
initialdir           = ..
# getenv               = True 
transfer_input_files = cern-it1.cern.ch.pub,lhcb
output               = lhcb/out/lhcb-$(Process).out
error                = lhcb/out/lhcb-$(Process).error
log                  = lhcb/out/lhcb-$(Process).log
queue
